{% set media_text_1_title = fields.media_text_1_title %}
{% set media_text_1_subtitle = fields.media_text_1_subtitle %}
{% set media_text_1_sections = fields.media_text_1_sections %}

<section class="block-blog-text-image customSection sectionParent ">

	<div class="section-row">

		{% if media_text_1_title != '' or media_text_1_title != '' %}
			<section class="innerSectionElement sct2 ">
				<div class="sectionElements">

					{% if media_text_1_title != '' %}
						<h2>
							{{ media_text_1_title }}
						</h2>
					{% endif %}

					{% if media_text_1_subtitle != '' %}
						<p class="text">
							{{ media_text_1_subtitle }}
						</p>
					{% endif %}

				</div>
			</section>
		{% endif %}

        	{% if media_text_1_sections|length > 0 %}
			<section class="innerSectionElement sct2 ">

				{% for item in media_text_1_sections %}

					{% set title = item.media_text_1_title %}
					{% set description = item.media_text_1_description %}
					{% set image = item.media_text_1_image %}
					{% set side = item.media_text_1_side or 'right' %}

					<div class="groupElements row {{ side }}">

						<div class="info col-md-12 col-lg-6">

							{% if title != '' %}
								<h3 class="secondaryTitle">
									{{ title }}
								</h3>
							{% endif %}

							{% if description != '' %}
								<p class="text">
									{{ description }}
								</p>
							{% endif %}

						</div>

						<div class="image col-md-12 col-lg-6">
							<div class="containerImage">

								{% if image != '' %}
									<img src="{{ get_img(image, 'src') }}" alt="{{ get_img(image, 'alt') }}" loading="lazy">
								{% endif %}

							</div>
						</div>

					</div>
				{% endfor %}

			</section>
		{% endif %}

	</div>

</section>
