{% set media_text_2_title = fields.media_text_2_title %}
{% set media_text_2_subtitle = fields.media_text_2_subtitle %}
{% set media_text_2_sections = fields.media_text_2_sections %}

<section class="block_blog_text_image customSection sectionParent ">

	<div class="section_contain">

		{# {% if media_text_2_title != '' or media_text_2_title != '' %}
			<section class="innerSectionElement sct2 ">
				<div class="sectionElements">

					{% if media_text_2_title != '' %}
						<h2>
							{{ media_text_2_title }}
						</h2>
					{% endif %}

					{% if media_text_2_subtitle != '' %}
						<p class="text">
							{{ media_text_2_subtitle }}
						</p>
					{% endif %}

				</div>
			</section>
		{% endif %} #}

        	{% if media_text_2_sections|length > 0 %}
			<section class="innerSectionElement sct2 ">

				{% for item in media_text_2_sections %}

					{% set title = item.media_text_2_title %}
					{% set description = item.media_text_2_description %}
					{% set image = item.media_text_2_image %}
					{% set side = item.media_text_2_side  %}

                    {% set i = i + 1 %}

					<div class="groupElements row element_{{ i }} {{ side }}">

						<div class="info col-md-12 col-lg-6">

							{% if title != '' %}
								<h3 class="secondaryTitle">
									{{ title|raw }}
								</h3>
							{% endif %}

							{% if description != '' %}
								<div class="text">
									{{ description|raw }}
								</div>
							{% endif %}

						</div>

						<div class="image col-md-12 col-lg-6">
							<div class="containerImage">

								{% if image != '' %}
									<img src="{{ get_img(image, 'src') }}" alt="{{ get_img(image, 'alt') }}" loading="lazy">
								{% endif %}

							</div>
						</div>

					</div>
				{% endfor %}

			</section>
		{% endif %}

	</div>

</section>
